h1{
    text-align: center;
    font-weight: bold;
    font-size:  32px;
}
h2{
    font-weight: bold;
    font-size: 24px;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav ul li{
    width: 220px;
    text-align: center;
}
body{
    font-family:'Times New Roman', Times, serif;
    line-height: 1.5;
    background-color: rgb(223, 223, 223);
}
.format-principles {
    height: 500px;
}
.return-to-top{
    font-size: 12px;
    font-style: italic;
}